.contact-wrapper {
  box-shadow: 0 10px 10px rgba(128, 128, 128, 0.089);
  border: 1px solid rgba(128, 128, 128, 0.212);
  border-radius: 20px;
  padding: 50px 30px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-wrapper h1 {
  margin-bottom: 30px;
  letter-spacing: 1px;
  font-size: 36px;
  color: #333333;
}

.contact-wrapper h4 {
  font-size: 15px;
  color: #555555;
  padding: 10px 0;
  margin: 10px 0;
}

.cc {
  margin: 0 auto;
  height: 90vh;
  display: flex;
}

.cont-grid {
  display: grid;
  gap: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.288);
  padding: 0 70px;
  padding-bottom: 40px; 
}

.contact-cont-w img {
  box-shadow: 0 10px 10px rgba(128, 128, 128, 0.26);
  border-radius: 50%;
  padding: 5px;
}

.contact-cont-w a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 15px;
  transition: transform 0.3s;
  white-space: nowrap;
}

.contact-sm-w {
  display: flex;
  gap: 20px;
}

.contact-sm-w a {
  box-shadow: 0 10px 10px rgba(128, 128, 128, 0.26);
  transition: transform 0.3s;
}

.contact-sm-w .fb {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-sm-w .fb img{
  width: 39px;
  height: 39px;
}

.contact-sm-w .insta {
  background: linear-gradient(135deg, #F58529, #DD2A7B);
  padding: 5px;
  border-radius: 50%;
}

.contact-sm-w .what {
  background: #25D366;
  padding: 5px;
  border-radius: 50%;
}

.contact-sm-w .twit {
  background: #1DA1F2;
  padding: 5px;
  border-radius: 50%;
}

.contact-sm-w a:hover,
.contact-cont-w a:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 576px) {
  .contact-wrapper {
    padding: 30px 20px;
  }

  .cont-grid {
    padding: 0 30px 25px;
  }
}
