.footer-copywrite {
  padding: 10px 10%;
  background: #333333;
  border-top: 1px solid #ffffff79;
}

.footer-copywrite p {
  font-size: 15px;
  color: #fff;
}

.footer-cont {
  display: flex;
  padding: 30px 3%;
  justify-content: space-between;
  background: #333;
}

.techfam {
  flex-basis: 30%;
}

.techfam .logo {
  width: 200px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  margin: -10px 0 30px -25px;
}

.techfam p, .newsletter p {
  text-align: start;
  color: #ffffff79;
  font-size: 15px;
  line-height: 24px;
}

.techfam-sm {
  margin-top: 30px;
}

.techfam-sm a {
  margin-right: 10px;
}

.techfam-sm img {
  width: 22px;
}

.links {
  flex-basis: 13%;
}

.links h4, .contact h4, .newsletter h4 {
  color: #fff;
  font-size: 18px;
  height: 40px;
  margin-bottom: 25px;
  letter-spacing: 1px;
}

.links ul {
  list-style: none;
  width: max-content;
}

.links ul a {
  text-decoration: none;
  color: #ffffff79;
  font-size: 15px;
  width: 100px;
}

.links ul a li {
  margin: 20px 0;
}

.contact {
  flex-basis: 20%;
}

.contact-cont {
  margin-bottom: 20px;
}

.contact-cont a {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: #ffffff79;
  font-size: 15px;
}

.contact-cont img {
  width: 22px;
  margin-right: 10px;
}

.newsletter {
  flex-basis: 20%;
}

.newsletter img {
  width: 20px;
}

.newsletter .email-cont {
  margin-top: 30px;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  border-radius: 5px;
}

.newsletter .email-cont input {
  background: none;
  outline: none;
  border: none;
  padding: 10px 10px 10px 20px;
}

.newsletter .email-cont input::placeholder {
  color: #333333;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.newsletter .email-cont button {
  border: none;
  outline: none;
  background: #d52c3f;
  padding: 10px 15px;
  border-radius: 0 5px 5px 0;
}

.link-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.techfam-sm.mobile {
  display: none;
}

@media only screen and (max-width: 576px) {
  .footer-cont {
    flex-direction: column;
  }
  
  .techfam .logo {
    margin: -10px 0 10px -25px;
  }

  .link-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5%;
  }

  .links h4, .contact h4, .newsletter h4 {
    color: #fff;
    font-size: 18px;
    height: fit-content;
    margin-bottom: 20px;
    letter-spacing: 1px;
  }

  .contact-cont {
    margin-bottom: 10px;
  }

  .contact-cont a p {
    margin: 0;
  }

  .techfam-sm.mobile {
    display: flex;
    padding-top: 5%;
    border-top: 1px solid #ffffff79;
    margin-top: 10%;
  }

  .techfam-sm.desktop {
    display: none;
  }

  .links ul {
    margin: 0;
    padding: 0 3%;
  }

  .links ul a li {
    margin: 5% 0;
  }

  .newsletter {
    margin-top: 10%;
  }
  
  .footer-copywrite p {
    margin: 0;
  }

}