.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 3%;
  box-shadow: 0 5px 10px #33333325;
}


.logo {
  flex-basis: 10%;
}

.logo img {
  width: 220px;
  height: 40px;
  object-fit: cover;
  object-position: center;
}

.header-links {
  flex-basis: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-links ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.link-border {
  background: #d6a682;
  width: 50%;
  height: 3px;
  position: absolute;
  bottom: 0;
}

.header-links ul .are-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  padding: 15px 10px;
  letter-spacing: 0.3px;
  white-space: nowrap;
  margin: 0 15px;
  font-size: 16px;
  position: relative;
  cursor: pointer;
  transition: transform 0.2s, color 0.2s;
}

.header-links ul a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  text-decoration: none;
  padding: 15px 10px;
  letter-spacing: 0.3px;
  white-space: nowrap;
  margin: 0 15px;
  font-size: 16px;
  position: relative;
  transition: transform 0.2s, color 0.2s;
}

.header-links ul a:hover, .header-links ul .are-link:hover {
  transform: scale(0.9);
  color: #d6a682;
}

.header-cont3 {
  flex-basis: 13%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-cont3 img {
  width: 25px;
}

.donate-btn button {
  border: none;
  outline: none;
  background: #d52c3f;
  color: white;
  padding: 13px 25px;
  border-radius: 25px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}