.home {
  margin: 0 0;
  height: 100vh;
}

.see-more {
  color: #d52c3f;
  font-size: 15px;
  padding: 0;
  margin: 0;
}

.box {
  opacity: 0;
  transform: translateY(40px);
  transition: transform 0.5s, opacity 0.5s;
}

.box.show {
  opacity: 1;
  transform: translateY(0);
}

.hero {
  display: flex;
  align-items: center;
  height: 90vh;
  position: relative;
  border-bottom: none;
}

.mobile-p {
  display: none;
}

.side-curve {
  position: absolute;
  width: 20%;
  height: 30%;
  background: #d6a682;
  top: 0;
  left: -13%;
  border-radius: 0 0 100% 0;
  opacity: 0;
  animation: opp 1.5s ease-in forwards;
}

.text-cont {
  flex-basis: 50%;
  padding: 0 0 0 7%;
  position: relative;
}

.image-cont-inner {
  position: relative;
}

.text-cont-heading {
  margin-bottom: 5%;
  white-space-collapse: collapse;
}

.text-cont img {
  position: absolute;
  object-fit: contain;
  width: 100%;
  left: 0;
  opacity: 0;
  transform: scale(0.5);
  animation: zoomFadeIn2 1.5s ease-in-out 0.3s forwards;
}

.about1-img-cont.ab1-mobile {
  display: none;
}

@keyframes zoomFadeIn2 {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 0.05;
    transform: scale(1);
  }
}

.text-cont-heading h1 {
  font-size: 48px;
  width: 100%;
  font-weight: 600;
}

.text-color {
  color: #d52c3f;
  white-space: nowrap;
}

.text-cont-text p {
  opacity: 0;
  line-height: 24px;
  color: #181818;
  letter-spacing: 0.3px;
  width: 70%;
  animation: slideRight 0.5s ease-in 1.4s forwards;
  font-size: 17px;
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.image-cont {
  flex-basis: 50%;
  display: flex;
  justify-content: end;
  padding-right: 5%;
  align-items: end;
  height: 100%;
}

.image-cont-inner {
  width: 73%;
  height: 82%;
  border-radius: 50% 0 0 50%;
  display: flex;
  justify-content: center;
  position: relative;
  opacity: 0;
  animation: opp 1.5s ease-in forwards;
}

@keyframes opp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.in-border {
  display: flex;
  justify-content: end;
}

.in-border::before {
  content: "";
  position: absolute;
  background: #d6a682;
  width: 100%;
  height: 70%;
  border-radius: 50% 50% 0 0;
  bottom: 0;
  right: 0;
}

.image-cont img {
  z-index: 20;
  opacity: 0;
  transform: scale(0.5);
  animation: zoomFadeIn 1.5s ease-in-out forwards;
}

@keyframes zoomFadeIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.image-cont-inner .name-title {
  position: absolute;
  box-sizing: border-box;
  bottom: 40px;
  left: -100px;
  background: white;
  display: flex;
  padding-bottom: 0;
  padding: 7px 8px;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.13);
}

.image-cont-inner .name-title h3 {
  font-size: 16px;
  letter-spacing: 0.3px;
  margin-bottom: 3px;
  font-weight: 600;
}

.image-cont-inner .name-title p {
  color: #333333;
  font-size: 14px;
  font-style: italic;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.donate button {
  border: none;
  outline: none;
  background: #d52c3f;
  padding: 12px 24px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  margin-top: 5%;
  transition: transform 0.2s, box-shadow 0.2s;
}

.donate button a {
  color: white;
  text-decoration: none;
}

.donate button:hover,
.donate button:active {
  transform: translateY(-8px);
  box-shadow: 0 5px 10px #42424275;
}

.hero .donate button {
  box-shadow: none;
  opacity: 0;
  transition: background 0.2s, border 0.2s;
  animation: displayBtn 0.5s ease-in 2s forwards;
}

.hero .donate button a {
  transition: color 0.2s;
}

@keyframes displayBtn {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.hero .donate button:hover,
.hero .donate button:active {
  background: transparent;
  padding: 11px 24px;
  border: 1px solid #d52c3f;
}

.hero .donate button:hover a,
.hero .donate button:active a {
  color: #d52c3f;
}

.curve {
  position: absolute;
  left: 45%;
  transition: width 0.2s;
  z-index: 20;
  animation: opp 1.5s ease-in forwards;
}

.curve .curve-text {
  width: 130px;
  position: relative;
  animation: rotate 25s linear infinite;
}

.section-translate {
  opacity: 0;
}

.about1 {
  display: flex;
  padding: 70px 7%;
  justify-content: space-between;
  background: #f0d9bf;
  overflow-x: hidden;
}

.about1-img-cont {
  position: relative;
  flex-basis: 48%;
  display: flex;
  width: 100%;
  align-items: end;
}

.about1-inner {
  display: flex;
  width: 100%;
  height: 75%;
  justify-content: end;
}

.about1-img-cont .imga {
  position: absolute;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.226);
  top: 0%;
  left: 0;
  z-index: 20;
  width: 50%;
  height: 50%;
  border-radius: 10px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}

.about1-h2-mob {
  display: none;
}

.about1-img-cont .imgb {
  z-index: 10;
  width: 80%;
  border-radius: 10px;
}

.about1-text-cont {
  flex-basis: 48%;
  padding: 3%;
  border-radius: 15px;
  background: linear-gradient(to bottom right, #f0d9bf, #d6a682);
}

.about1-text-cont h2 {
  color: black;
  font-size: 36px;
  letter-spacing: 0.5px;
  margin: 0 0 15px;
  width: max-content;
  font-weight: 600;
}

/*ANIMATION ARENA */
.about1-text-cont h2,
.area-of-focus-heading h2,
.about-text-count h2,
.volunteer-text-cont h2,
.event-heading h2 {
  transform: translateY(20px);
  opacity: 0;
}

.box.show .about1-text-cont h2,
.box.show .area-of-focus-heading h2,
.box.show .about-text-count h2,
.box.show .volunteer-text-cont h2,
.box.show .event-heading h2 {
  animation: headview 0.5s ease 0.3s forwards;
}

@keyframes headview {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.about1-text-cont p {
  text-align: start;
  color: #555555;
  font-size: 17px;
  line-height: 24px;
}

.about1-text-cont p,
.about-text-count p,
.volunteer .volunteer-text-cont p,
.grid-cont:nth-child(3) {
  transform: translateX(400%);
  transition: transform 0.5s;
}

.grid-cont:nth-child(1) {
  transform: translateX(-400%);
  transition: transform 0.5s;
}

.box.show .about1-text-cont p,
.box.show .about-text-count p,
.box.show .volunteer .volunteer-text-cont p,
.box.show .grid-cont:nth-child(1),
.box.show .grid-cont:nth-child(3) {
  transform: translateX(0);
}

.about1-text-cont .str-text {
  font-weight: 600;
  color: #555555;
  font-size: 17px;
  margin-bottom: 15px;
}

.area-of-focus {
  width: 100%;
  padding: 70px 10%;
  background: white;
  overflow-x: hidden;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.area-of-focus-heading {
  display: flex;
  flex-direction: column;
  position: relative;
  height: max-content;
  justify-content: center;
  align-items: center;
}

.area-of-focus-heading h2 {
  position: relative;
  font-size: 36px;
  text-align: center;
  margin-bottom: 5px;
  width: max-content;
  z-index: 10;
  font-weight: 600;
}

.area-of-focus-heading p {
  color: #333333;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.bottom {
  background: #d52c3f;
  width: 10%;
  height: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -25px;
  border-radius: 5px;
}

.area-of-focus-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  margin-top: 50px;
}
.grid-cont {
  display: flex;
  padding: 30px 25px;
  border-radius: 10px;
  cursor: pointer;
}

.grid--img {
  background: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.grid-cont img {
  width: 30px;
}

.white .grid--img {
  background: #f5f5f5;
}

.white {
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.082);
}

.ash {
  border: 1px solid #e0e0e0;
  background: #f5f5f5;
}

.white.grid-cont {
  transform: scale(1.1);
}

.grid-cont h3 {
  text-align: start;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 600;
  font-weight: 600;
}

.grid-cont p {
  text-align: start;
  color: #555555;
  font-size: 15px;
  line-height: 24px;
}

.white.grid-cont p {
  color: #333333;
}

.about-text-count h2 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: 600;
}

.about-text-count p {
  text-align: start;
  color: #000000;
  font-size: 19px;
  line-height: 24px;
  margin-bottom: 20px;
  width: 60%;
  padding-left: 1%;
}

.atcbtn button {
  margin-top: 10px;
}

.about-home {
  flex-direction: column;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  overflow-x: hidden;
}

.about-image-count {
  display: none;
}

.about-home-bk {
  overflow-x: hidden;
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-y: hidden;
  background: #d6a682a4;
}

.about-text-count {
  position: absolute;
  margin: 0 5%;
  padding: 2% 0 5%;
  z-index: 10;
  height: 90%;
  width: 70%;
  background: rgba(255, 255, 255, 0.062);
  border: 1px solid rgba(255, 255, 255, 0.274);
  backdrop-filter: blur(5px);
}

.atc-inner {
  padding: 0 20px;
}

.about-text-count .donate {
  display: flex;
  justify-content: flex-start;
  margin-top: 3%;
}

.ab-inner img {
  width: 100%;
  height: 100%;
}

.ab-inner {
  width: 100%;
  z-index: -1;
}

.ab-inner.desktop {
  display: block;
}

.ab-inner.mobile {
  display: none;
}

.volunteer {
  padding: 120px 7% 50px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  overflow-x: hidden;
  background: white;
}

.volunteer .volunteer-text-cont {
  flex-basis: 48%;
  padding: 3%;
  border-radius: 15px;
  background: linear-gradient(to bottom right, #f0d9bf, #d6a682);
  box-shadow: 0 5px 5px rgba(82, 82, 82, 0.089);
}

.volunteer .volunteer-text-cont h2 {
  font-size: 36px;
  margin-bottom: 5%;
  font-weight: 600;
  width: 85%;
}

.volunteer .volunteer-text-cont p {
  margin-left: 1%;
  text-align: start;
  color: #333333;
  font-size: 17px;
  line-height: 24px;
  width: 75%;
}

.volunteer .volunteer-text-cont p span {
  font-weight: 600;
  letter-spacing: 0.5px;
}

.volunteer .volunteer-img-cont {
  flex-basis: 48%;
  display: flex;
  align-items: center;
  position: relative;
}

.volunteer-img-cont img {
  width: 95%;
  height: 95%;
  border-radius: 0 30px 0 30px;
}

.volunteer-img-cont.mobile {
  display: none;
}

.stories-event {
  margin-top: 30px;
  padding: 0 5% 0;
  display: flex;
  justify-content: center;
  background: #f5f5f5;
}

.event {
  flex: 1;
  position: relative;
  padding: 50px 0 90px;
  overflow: hidden;
}

.event-heading {
  position: relative;
  margin-bottom: 20px;
}

.event-heading h2 {
  text-align: center;
  font-size: 36px;
  padding-bottom: 15px;
  font-weight: 600;
}

.event-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.event-link {
  text-decoration: none;
  max-width: 500px;
}

.event-grid-cont {
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  border-radius: 5px;
  transition: transform 0.3s;
}

.event-grid-cont:hover,
.story-grid-cont:hover {
  transform: scale(1.05);
}

.event-img img {
  border-radius: 5px;
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: top;
}

.event-info {
  width: 100%;
}

.event-info h4 {
  color: rgba(0, 0, 0, 0.884);
  letter-spacing: 0.5px;
  font-size: 17px;
  margin: 0;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
}

.event-info .date {
  font-size: 12px;
  font-weight: 600;
  color: #555555;
  margin-top: 5px;
  margin-bottom: 0;
  letter-spacing: 0.8px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: wrap;
  width: 100%;
}

.event-info .date span {
  margin: 0 5px;
}

.event-info .text {
  text-align: start;
  color: #333333;
  font-size: 14px;
  margin: 5px 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: wrap;
  width: 100%;
}

.stories,
.event {
  position: relative;
}

.view-more {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.view-more button {
  border: 1px solid #e0e0e0;
  padding: 12px 24px;
  border-radius: 40px;
  outline: none;
  background: white;
}

.view-more button a {
  color: #333333;
  text-decoration: none;
}

.stories .view-more {
  margin-top: 30px;
}

@media only screen and (max-width: 576px) {
  .home {
    position: relative;
  }

  .desktop-p {
    display: none;
  }

  .curve {
    display: none;
  }

  .mobile-p {
    display: block;
  }

  .mobile-nav {
    background: linear-gradient(to bottom right, #e5d5c1, #d6a682);
    /*backdrop-filter: blur(20px);*/
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    z-index: 500;
    padding: 1%;
  }

  .close-cont {
    padding: 0 4%;
  }

  .close-cont div {
    font-size: 46px;
    margin-top: -3%;
  }

  .mobile-nav-link-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
  }

  .mobile-nav-link-cont ul {
    list-style: none;
    padding: 0;
  }

  .mobile-nav-link-cont ul a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 30px;
  }

  .hero {
    height: fit-content;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 10% 0 30% 3%;
    border-bottom: 1px solid #77777736;
  }

  .image-cont {
    position: absolute;
    width: 100%;
    height: 85%;
    z-index: -1;
    bottom: 0;
  }

  .image-cont img {
    height: 100%;
  }

  .text-cont {
    padding: 0;
    flex-basis: 100%;
  }

  .text-cont-text p {
    font-size: 16px;
    width: fit-content;
    font-weight: 500;
    color: #555555;
    line-height: 26px;
  }

  .text-cont-heading h1 {
    font-size: 32px;
    width: 90%;
    min-height: 115px;
    white-space: wrap;
    margin-bottom: 5%;
  }

  .text-cont-heading img {
    width: 70%;
    left: -20%;
    top: -45%;
    display: none;
  }

  .donate button {
    font-size: 14px;
    padding: 10px 20px;
    background: #d52c3f;
    margin-top: 10%;
  }

  .hero .donate button:hover,
  .hero .donate button:active {
    padding: 9px 20px;
  }

  .image-cont-inner {
    background: none;
    width: 62%;
    height: 78%;
    display: flex;
    justify-content: end;
    align-items: end;
  }

  .in-border::before {
    content: "";
    position: absolute;
    background: #d6a682;
    width: 120%;
    height: 70%;
    border-radius: 50% 50% 0 0;
    bottom: 0;
    right: 0;
  }

  .image-cont-inner .name-title {
    left: -85px;
    bottom: 15px;
    height: 40px;
    width: 100px;
  }

  .in-border {
    position: relative;
    width: 90%;
    height: 85%;
    display: flex;
    justify-content: end;
    margin-right: -20px;
  }

  .side-curve {
    top: -30px;
    left: -8%;
    height: 20%;
    display: none;
  }

  .image-cont-inner .name-title h3 {
    font-size: 10px;
  }

  .image-cont-inner .name-title p {
    font-size: 10px;
    text-align: end;
  }

  .about1 {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 7% 3%;
    margin-bottom: 5%;
  }

  .about1-text-cont {
    padding: 4% 3%;
  }

  .about1 h2 {
    font-size: 24px;
    max-width: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
  }

  .about1 .about1-text-cont p {
    color: #333333;
    font-size: 16px;
  }

  .about1-text-cont .str-text {
    font-size: 16px;
    color: #000000dc;
  }

  .about1-img-cont {
    display: none;
  }

  .about1-text-cont .donate button {
    margin-top: 5%;
  }

  .area-of-focus {
    padding: 0px 3% 30px;
    background: #ffffff;
  }

  .area-of-focus-heading h2 {
    font-size: 24px;
  }

  .area-of-focus-heading p {
    font-size: 10px;
  }

  .area-of-focus-grid {
    grid-template-columns: 1fr;
    margin-top: 60px;
    row-gap: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .grid-cont {
    width: 90%;
    padding: 40px 15px;
    position: relative;
    background: #f5f5f5;
  }

  .box.show .grid-cont:nth-child(odd) {
    transform: translateX(0);
  }

  .grid-cont .area-kk {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .grid-cont p {
    text-align: center;
  }

  .grid--img {
    position: absolute;
    top: -15%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.089);
    background: white;
  }

  .white.grid-cont {
    transform: scale(1);
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.103);
  }

  .white .grid--img {
    background: #f5f5f5;
  }

  .stories-event {
    padding: 0 3%;
  }

  .event {
    background: #f5f5f5;
    padding: 30px 0 100px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .view-more {
    transform: translateX(-50%);
    bottom: 15px;
    left: 50%;
  }

  .event-img img {
    width: 100%;
  }

  .event-heading {
    margin-bottom: 20px;
  }

  .event-info .text {
    line-height: 15px;
    font-size: 13px;
    margin-bottom: 10px;
  }

  .event-info h4 {
    font-size: 15px;
  }

  .event-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .see-more {
    font-size: 13px;
    text-decoration: underline;
  }

  .event-heading h2 {
    font-size: 24px;
    padding-bottom: 10px;
    font-weight: 600;
    text-align: center;
  }

  .view-more {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .view-more button {
    border: 1px solid #e0e0e0;
    padding: 10px 20px;
    background: white;
    border-radius: 40px;
  }

  .view-more button a {
    color: #333333;
    text-decoration: none;
  }

  .bottom-border {
    display: none;
  }

  .volunteer {
    flex-direction: column;
    padding: 30px 3%;
  }

  .volunteer .volunteer-text-cont {
    background: none;
    box-shadow: none;
    border-radius: none;
    padding: 0;
  }

  .volunteer .volunteer-text-cont h2 {
    font-size: 24px;
    text-align: center;
    padding: 0 3%;
    width: 100%;
  }

  .volunteer .volunteer-text-cont p {
    width: 100%;
    color: #555555;
    font-size: 16px;
  }

  .volunteer-img-cont.mobile {
    margin: 30px 0;
    width: 100%;
    display: block;
  }

  .volunteer-img-cont.desktop {
    display: none;
  }

  .volunteer-img-cont.mobile img {
    width: 100%;
    object-fit: cover;
    border-radius: 0px;
    box-shadow: none;
  }

  .volunteer .donate button {
    margin-top: 15px;
  }

  .about-home {
    flex-direction: column;
    padding: 30px 0;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #77777736;
    border-top: 1px solid #77777736;
  }

  .about-image-count {
    display: none;
  }

  .about-home-bk {
    overflow-x: hidden;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-y: hidden;
    background: #d6a682b6;
  }

  .about-text-count {
    position: absolute;
    margin: 20px 3%;
    padding: 0 3% 10px;
    z-index: 10;
    border: 3px solid white;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: none;
    background: transparent;
    width: fit-content;
  }

  .about-text-count .donate {
    display: flex;
    justify-content: end;
    margin-top: 5px;
  }

  .about-text-count .donate button {
    margin-top: 5px;
  }

  .ab-inner img {
    width: 100%;
    height: 100%;
  }

  .ab-inner {
    width: 100%;
    z-index: -1;
  }

  .ab-inner.desktop {
    display: none;
  }

  .ab-inner.mobile {
    display: block;
  }

  .carousel {
    position: relative;
  }

  .carousel-indicators {
    bottom: -40px;
  }

  .carousel-indicators [data-bs-target] {
    background-color: #777777;
  }

  .carousel-indicators .active {
    background-color: #d52c3f;
  }

  .carousel-control-prev-icon {
    color: white;
  }

  .about-text-count h2 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;
    width: 100%;
    line-height: 28px;
  }

  .about-text-count p {
    color: black;
    text-align: start;
    margin-bottom: 5px;
    font-size: 16px;
    width: 100%;
  }

  .atc-inner {
    padding: 0;
  }
}

@media only screen and (min-width: 395px) and (max-width: 576px) {
  .in-border::before {
    width: 115%;
  }

  .image-cont-inner .name-title {
    left: -75px;
  }
}

@media only screen and (min-width: 577px) and (max-width: 1150px) {
  .story-img img {
    width: 100%;
  }

  .about1 {
    padding: 7% 3%;
  }

  .about1-text-cont {
    padding: 1.5%;
  }

  .about1-text-cont h2,
  .area-of-focus-heading h2,
  .about-text-count h2,
  .volunteer .volunteer-text-cont h2,
  .event-heading h2 {
    font-size: 28px;
  }

  .area-of-focus {
    padding: 7% 1.5%;
  }

  .grid-cont {
    padding: 5%;
  }

  .area-of-focus-grid {
    column-gap: 3%;
    margin-top: 5%;
  }

  .about-home-bk {
    height: 450px;
  }

  .about-text-count {
    margin: 0 3%;
    padding: 2% 0 3%;
  }

  .donate button {
    margin-top: 5%;
  }

  .volunteer {
    padding: 7% 3%;
  }

  .volunteer-img-cont img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .volunteer .volunteer-text-cont h2 {
    width: 95%;
  }

  .volunteer .volunteer-text-cont p {
    width: 85%;
  }
}

@media only screen and (min-width: 577px) and (max-width: 991px) {
  .home {
    position: relative;
  }

  .text-cont-text .mobile-p {
    display: none;
  }

  .curve {
    display: none;
  }

  .mobile-p {
    display: block;
  }

  .mobile-nav {
    background: linear-gradient(to bottom right, #e5d5c1, #d6a682);
    /*backdrop-filter: blur(20px);*/
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 500;
    padding: 3%;
  }

  .close-cont {
    padding: 0 2%;
  }

  .close-cont div {
    font-size: 46px;
    margin-top: -3%;
  }

  .mobile-nav-link-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
  }

  .mobile-nav-link-cont ul {
    list-style: none;
    padding: 0;
  }

  .mobile-nav-link-cont ul a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 30px;
  }

  .hero {
    height: fit-content;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 10% 0 5% 3%;
    border-bottom: 1px solid #77777736;
  }

  .image-cont {
    position: absolute;
    width: 100%;
    height: 85%;
    z-index: -1;
    bottom: 0;
  }

  .image-cont img {
    height: 100%;
  }

  .image-cont-inner {
    background: none;
    width: 45%;
    height: 90%;
    display: flex;
    justify-content: end;
    align-items: end;
  }

  .image-cont-inner .name-title {
    left: -85px;
    bottom: 15px;
    height: 40px;
    width: 100px;
  }

  .in-border {
    position: relative;
    width: 90%;
    height: 85%;
    display: flex;
    justify-content: center;
  }

  .in-border::before {
    content: "";
    position: absolute;
    background: #d6a682;
    width: 100%;
    height: 70%;
    border-radius: 50% 50% 0 0;
    bottom: 0;
    right: 0;
  }

  .text-cont {
    padding: 0;
    flex-basis: 100%;
  }

  .text-cont-text p {
    width: 40%;
    font-size: 16px;
    font-weight: 500;
    color: #555555;
    line-height: 26px;
  }

  .text-cont-heading h1 {
    font-size: 48px;
    width: 100%;
    white-space: wrap;
    margin-bottom: 5%;
  }

  .text-cont-heading img {
    width: 70%;
    left: -20%;
    top: -45%;
    display: none;
  }

  .donate button {
    font-size: 14px;
    padding: 12px 24px;
    background: #d52c3f;
    margin-top: 10%;
  }

  .side-curve {
    top: -30px;
    left: -8%;
    height: 20%;
    display: none;
  }

  .image-cont-inner .name-title h3 {
    font-size: 10px;
  }

  .image-cont-inner .name-title p {
    font-size: 10px;
    text-align: end;
  }

  .about1 {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .about1-text-cont {
    max-width: 70%;
    padding: 3%;
  }

  .about-text-count p {
    width: 100%;
  }

  .about1-img-cont {
    display: none;
  }

  .area-of-focus {
    padding: 7% 3%;
  }

  .area-of-focus-grid {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .grid-cont {
    padding: 5%;
  }

  .in-border {
    width: 100%;
    height: 80%;
  }

  .image-cont-inner .name-title {
    left: -22%;
  }
  .event-grid {
    grid-template-columns: 1fr 1fr;
  }

  .stories-event {
    padding: 0 3%;
  }

}

@media only screen and (min-width: 992px) and (max-width: 1150px) {
  .area-of-focus {
    padding: 7% 5%;
  }

  .text-cont-heading h1 {
    font-size: 40px;
    width: 100%;
    font-weight: 600;
  }

  .text-cont-text p {
    width: 80%;
    font-size: 16px;
  }

  .image-cont-inner {
    width: 80%;
  }

  .image-cont-inner .name-title h3 {
    font-size: 14px;
  }

  .image-cont-inner .name-title p {
    font-size: 12px;
  }

  .about-text-count p {
    width: 80%;
  }

  .volunteer-img-cont img {
    width: 85%;
    height: 85%;
    border-radius: 0 30px 0 30px;
  }
}
