.home {
  margin: 0 0;
}

.hero {
  display: flex;
  align-items: center;
  height: 90vh;
}

.text-cont {
  flex-basis: 60%;
  padding: 0 20px 0 10%;
}

.image-cont-inner {
  position: relative;
}

.text-cont-heading {
  margin-bottom: 20px;
}

.text-cont-heading h1 {
  font-size: 60px;
  width: 400px;
}

.text-color {
  color: #d52c3f;
  white-space: nowrap;
}

.text-cont-text p {
  line-height: 24px;
  color: #333333;
  letter-spacing: 0.3px;
  width: 450px;
}

.image-cont {
  flex-basis: 40%;
  padding: 0 50px 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d6a682;
  height: 100%;
  /**transform: skewX(10deg);**/
  clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
}

.image-cont img {
  width: 350px;
}

.image-cont-inner .ribbon {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #d52c3f;
  position: absolute;
}

.ribbon1 {
  top: 17%;
  right: 18px;
}

.ribbon2 {
  left: -5px;
  top: 5%;
}

.ribbon3 {
  bottom: 24.5%;
  left: 100px;
}

.curve {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation: rotate 25s linear infinite;
  width: 130px;
  transition: width 0.2s;
}

.curve:hover {
  width: 140px;
}

.area-of-focus {
  width: 100%;
  padding: 100px 10%;
  background: #f5f5f5;
  margin-bottom: 20px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.area-of-focus-heading {
  display: flex;
  flex-direction: column;
  position: relative;
  height: max-content;
}

.area-of-focus-heading h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 5px;
}

.area-of-focus-heading p {
  color: #333333;
  text-align: center;
  font-size: 12px;
}

.focus {
  color: #d52c3f;
  font-style: italic;
}

.bottom {
  background: #d6a682;
  width: 10%;
  height: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -25px;
  border-radius: 5px;
}

.area-of-focus-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  margin-top: 50px;
}
.grid-cont {
  display: flex;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.grid-cont:hover {
  transform: scale(1.1);
}

.white {
  background: white;
  box-shadow: 0 10px 10px #33333325;
}

.ash {
  border: 1px solid #c0c0c0;
}

.grid--img {
  background: #d52c3f;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.grid-cont img {
  width: 30px;
}

.grid-cont h3 {
  text-align: start;
  font-size: 16px;
  margin-bottom: 10px;
}

.grid-cont p {
  text-align: start;
  color: #555555;
  font-size: 15px;
  line-height: 24px;
}

.donate button {
  border: none;
  outline: none;
  background: #d52c3f;
  color: white;
  padding: 15px 30px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  margin-top: 50px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.donate button:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 5px #333333;
}

.about {
  padding: 100px 10%;
  display: flex;
  justify-content: space-between;
  /*background: #d6a6824f;*/
}

.about-image-count {
  flex-basis: 60%;
}

.about-image-count img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 0 0 20px 20px;
  overflow-y: hidden;
}

.about-text-count {
  flex-basis: 40%;
}

.about-text-count h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about-text-count p {
  text-align: start;
  color: #555555;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 20px;
}

.atcbtn button {
  margin-top: 10px;
}

.img1 {
  animation: upup linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 80%;
}

.img2 {
  animation: downdown linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 80%;
}

@keyframes upup {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(100px);
  }
}

@keyframes downdown {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(-100px);
  }
}

.stories-event {
  margin-top: 30px;
  padding: 70px 10%;
  display: flex;
  background: #f5f5f5;
  justify-content: space-between;
}

.event {
  flex-basis: 50%;
}

.event-heading {
  position: relative;
  margin-bottom: 40px;
}

.event-heading h2 {
  font-size: 36px;
  padding-bottom: 20px;
}

.event-heading .bottom-border {
  position: absolute;
  width: 70px;
  height: 4px;
  background: #d52c3f;
  bottom: 0;
  left: 0;
}

.event-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
}

.event-grid-cont {
  display: flex;
}

.event-img {
  margin-right: 20px;
}

.event-img img {
  border-radius: 5px 0 0 5px;
}

.event-info h4 {
  font-size: 19px;
  font-weight: 600;
  color: #333333;
  margin-bottom: 5px;
}

.event-info .date {
  font-size: 13px;
}

.event-info .date span {
  margin: 0 5px;
}

.event-info .text {
  text-align: start;
  color: #555555;
  font-size: 15px;
  line-height: 24px;
  margin: 10px 0;
  width: 350px;
}

.event-info a {
  text-decoration: none;
  font-weight: 400;
  color: #d52c3f;
  font-size: 14px;
}

.stories {
  flex-basis: 45%;
}

.story-grid-cont {
  display: flex;
  flex-direction: column;
  width: max-content;
  border-radius: 5px;
  box-shadow: 0 5px 5px #3333331e;
  background: #fff;
}

.story-grid-cont p {
  padding: 10px;
  color: #333333;
  font-size: 15px;
}

.story-img img {
  width: 350px;
  height: 180px;
  object-fit: cover;
  object-position: top;
  border-radius: 5px 5px 0 0;
}