.ScrollHeader header {
  background: rgba(0, 0, 0, 0.116);
  backdrop-filter: blur(50px);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 400;
  padding: 3px 3%;
  transition: top 0.3s;
}